{% extends "abastecimento/base.html" %}
{% block body %}
{% load crispy_forms_tags %}
<nav class="navbar bg-dark" style="color:white;">
    <div class="container">
        <h2>Cadastrar Abastecimento</h2>
    </div>
</nav>
<div class="container p-2 mt-2 bg-dark justify-content-center border border-light rounded">
    <div class="d-flex justify-content-center text-light">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}

            <button class=" btn btn-primary" type="submit" value="Save">Salvar</button>
                        
        </form>
    </div>
</div>

{% endblock %}