{% extends "abastecimento/base.html" %}
{% block body %}
<nav class="navbar bg-dark" style="color:white;">
    <div class="container">
        <h2>Deletar {{ object }}</h2>
    </div>
</nav>
<div class="container p-2 mt-2 bg-dark justify-content-center border border-light rounded">
    <div class="d-flex text-light">
        <form method="post">
            <div class="container">Deseja realmente deletar {{ object }}?</div>
            
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-2 container"><button class="btn btn-danger" type="submit" value="delete">Delete</button></div>
        </form>
    </div>
</div>

{% endblock %}